@import "../colors.scss";
@import "../GeneralStyles.scss";

.about_section {
  overflow: hidden;
}

.content {
  @include content;
  z-index: 2;
}

.header {
  @include custom_header;
}

.about_facts {
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin: 6rem auto 0;

  font-size: 1.625rem;
  font-weight: 600;

  text-align: center;
  letter-spacing: 0.07em;

  & .about_fact:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.about_fact {
  ::selection {
    color: $accent_red;
  }
  ::-moz-selection {
    color: $accent_red;
  }

  span {
    color: $accent_red;
  }
}

.bottom_decor {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 80%;

  margin: 5.5rem auto 0;

  img:nth-child(1),
  img:nth-child(2),
  img:nth-child(4) {
    transform: translateY(2px);
  }
}

.bottom_decor_line {
  border: none;
  width: 100%;
  height: 2px;
  background-color: $main_dark;
}

.decor_ellipse {
  position: absolute;
  top: 30%;
  right: -35%;
  opacity: 0.15;
  transform: rotate(-10deg);
  z-index: -1;
}

.bottom_decor,
.bottom_decor_line,
.decor_ellipse {
  @include disable_selection;
}

@media (max-width: 870px) {
  .decor_ellipse {
    right: -50%;
  }
}

@media (max-width: 700px) {
  .bottom_decor {
    width: 100%;
  }

  .decor_ellipse {
    right: -70%;
  }
}

@media (max-width: 584px) {
  .about_facts {
    margin-top: 4rem;
    font-size: 1.25rem;
  }

  .bottom_decor {
    margin-top: 3rem;

    img {
      width: 3rem;
    }
  }

  .decor_ellipse {
    top: 22%;
    right: -90%;
  }
}

@media (max-width: 440px) {
  .about_facts {
    margin-top: 3.125rem;
    font-size: 1rem;
  }

  .bottom_decor {
    margin-top: 2rem;

    img {
      width: 2rem;
    }
  }

  .decor_ellipse {
    top: 12%;
    width: 30rem;
  }
}

@media (max-width: 440px) {
  .decor_ellipse {
    top: 9rem;
    right: -100%;
  }
}

@media (max-width: 361px) {
  .decor_ellipse {
    top: 12rem;
    right: -110%;
  }
}
