@import "../colors.scss";
@import "../GeneralStyles.scss";

@keyframes anima_2 {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes anima_3 {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anima_4 {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ellipse_anima {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.15;
  }
}

.about_section {
  overflow: hidden;
}

.content {
  @include content;
  z-index: 2;
}

.header {
  @include custom_header;
}

.about_facts {
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin: 6rem auto 0;

  font-size: 1.625rem;
  font-weight: 600;

  text-align: center;
  letter-spacing: 0.07em;

  & .about_fact:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.about_facts_animation {
  .fact_2 {
    animation: anima_2 0.2s ease-out forwards;
  }
  .fact_3 {
    animation: anima_3 0.3s ease-out 0.1s forwards;
  }
  .fact_4 {
    animation: anima_4 0.4s ease-out 0.3s forwards;
  }
}

.fact_2 {
  opacity: 0;
  transform: translateY(-1rem);
}
.fact_3 {
  opacity: 0;
  transform: translateY(-2rem);
}
.fact_4 {
  opacity: 0;
  transform: translateY(-3rem);
}

.about_fact {
  ::selection {
    color: $accent_red;
  }
  ::-moz-selection {
    color: $accent_red;
  }

  span {
    color: $accent_red;
  }
}

.bottom_decor {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 80%;

  margin: 5.5rem auto 0;

  img:nth-child(1),
  img:nth-child(2),
  img:nth-child(4) {
    transform: translateY(2px);
  }
}

.bottom_decor_line {
  border: none;
  width: 100%;
  height: 2px;
  background-color: $main_dark;
}

.decor_ellipse {
  position: absolute;
  top: 20%;
  right: -35%;

  transform: rotate(-10deg);
  opacity: 0;

  z-index: -1;
}

.ellipse_anima {
  animation: ellipse_anima 0.2s ease-out 0.8s forwards;
}

.bottom_decor,
.bottom_decor_line,
.decor_ellipse {
  @include disable_selection;
}

@media (max-width: 870px) {
  .decor_ellipse {
    right: -50%;
  }
}

@media (max-width: 700px) {
  .bottom_decor {
    width: 100%;
  }

  .decor_ellipse {
    right: -70%;
  }
}

@media (max-width: 584px) {
  .about_facts {
    margin-top: 4rem;
    font-size: 1.25rem;
  }

  .bottom_decor {
    margin-top: 3rem;

    img {
      width: 3rem;
    }
  }

  .decor_ellipse {
    top: 18%;
    right: -90%;
  }
}

@media (max-width: 440px) {
  .about_facts {
    margin-top: 3.125rem;
    font-size: 1rem;
  }

  .bottom_decor {
    margin-top: 2rem;

    img {
      width: 2rem;
    }
  }

  .decor_ellipse {
    top: 5rem;
    right: -100%;
    width: 30rem;
  }
}

@media (max-width: 361px) {
  .decor_ellipse {
    right: -110%;
  }
}
