@import "../colors.scss";
@import "../GeneralStyles.scss";

@keyframes scale {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.advantages_section {
  background-color: #f6f6f6;
  overflow: hidden;
}

.content {
  @include content;
  padding-bottom: 4.25rem;
  z-index: 2;
}

.header {
  @include custom_header;
}

.advantages_container {
  width: fit-content;
  margin: 4.2em auto 0;
  .advantages_widget:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.advantages_widget {
  width: 100%;
  max-width: 30.5em;

  padding: 2.3em 2.2em;

  font-size: 1.125rem;

  border-radius: 1rem;
  background-color: white;

  transform: translateX(2rem);
  opacity: 0;
  transition: 0.3s ease-out;

  box-shadow: 0 0 1em rgba($color: #000000, $alpha: 0.03);
}

.widget_anima {
  transform: translateX(0);
  opacity: 1;
}

.widget_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget_title {
  font-size: 1.625rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.widget_icon {
  @include disable_selection;
}

.widget_description {
  margin-top: 2em;
  color: rgba($color: $main_dark, $alpha: 0.5);

  a {
    color: $accent_red;
    text-decoration: none;

    &::selection {
      color: $accent_red;
    }
    &::-moz-selection {
      color: $accent_red;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.decor_vinyl {
  position: absolute;
  top: 16%;
  left: -40%;
  opacity: 0.05;
  z-index: -1;
  animation: scale 0.7s ease-in-out infinite alternate;
}

.video_header {
  margin-top: 8rem;
}

@media (max-width: 860px) {
  .decor_vinyl {
    left: -60%;
  }
}

@media (max-width: 720px) {
  .decor_vinyl {
    left: -90%;
  }
}

@media (max-width: 584px) {
  .content {
    padding-bottom: 3rem;
  }

  .advantages_container {
    margin-top: 4em;
  }

  .advantages_widget {
    padding: 1.875em 1.5em;
    font-size: 1rem;
  }

  .widget_title {
    font-size: 1.25rem;
  }

  .widget_icon {
    width: 2rem;
  }

  .decor_vinyl {
    left: -500px;
    width: 60rem;
  }

  .video_header {
    margin-top: 4rem;
  }
}

@media (max-width: 440px) {
  .advantages_container {
    margin-top: 3.125em;
  }

  .advantages_widget {
    padding: 1.5em;
    font-size: 0.875rem;
  }

  .widget_title {
    font-size: 1.375rem;
  }

  .decor_vinyl {
    width: 50rem;
  }

  .video_header {
    margin-top: 3.375rem;
  }
}

@media (max-width: 360px) {
  .decor_vinyl {
    top: 20%;
  }
}
