@import "../colors.scss";

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transform_y {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

.contact_me_window {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  padding: 0 4rem;

  font-size: 1rem;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  animation: fade_in 0.2s ease-out forwards;

  z-index: 999;
}

.content_container {
  position: relative;

  width: 100%;
  max-width: 64rem;

  padding: 3.75em 4.125em;

  border-radius: 0.875rem;
  background-image: linear-gradient(
      rgba(249, 249, 249, 0.6),
      rgba(249, 249, 249, 0.6)
    ),
    url("../assets/texture_contact_me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  opacity: 0;

  animation: fade_in 0.3s ease-out forwards 0.2s,
    transform_y 0.3s ease-out forwards 0.2s;

  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .h2 {
    margin-bottom: 2.25em;
    margin-top: 0;
  }
}

.h2 {
  margin-top: 3.75em;
  margin-bottom: 1em;
  font-size: 2rem;
}

.input_form {
  display: flex;
  flex-direction: column;

  width: 21.25rem;
}

.input_container {
  position: relative;
  margin-bottom: 3em;
}

.input {
  width: 100%;

  padding: 0.5em 0.2em;

  font-size: 1rem;

  border: none;
  border-bottom: 2px solid $accent_red;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:focus + .max_size_counter {
    opacity: 1;
  }

  &::placeholder {
    color: rgba($color: $main_dark, $alpha: 0.3);
  }
}

.phone_input {
  padding-left: 1.375rem;
}

.max_size_counter {
  position: absolute;
  bottom: -1.75em;
  right: 0;

  font-size: 0.875rem;

  color: rgba($color: $main_dark, $alpha: 0.3);

  opacity: 0;
}

.email_warning {
  position: absolute;
  top: -0.75rem;
  left: 0;

  font-size: 0.75rem;
  color: $warning;
}

.phone_code {
  position: absolute;
  top: 6px;
  left: 0;
}

button {
  width: fit-content;

  margin-top: 0.625rem;
  padding: 0.75rem 2.875rem;

  font-family: "Onest", sans-serif;
  font-size: 1rem;

  border: none;
  border-radius: 0.125rem;
  color: $main_bright;
  background-color: $accent_red;

  cursor: pointer;
  transition: filter 0.2s ease-out;

  &:hover {
    filter: brightness(110%);
  }

  &:disabled {
    cursor: default;
    &:hover {
      filter: brightness(100%);
    }
    opacity: 0.5;
  }
}

.link_container {
  margin-right: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.whatsapp {
  color: $whatsapp_green;
}

.telegram {
  color: $telegram_blue;
}

.image_wrapper {
  position: absolute;
  top: 0;
  right: 0;

  width: 90%;
  height: 100%;

  mask-image: url("../assets/bg_mask.svg");
  mask-repeat: no-repeat;
  mask-position: right;

  background-image: url("../assets/contact_me_photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100px;

  overflow: hidden;

  z-index: -1;
}

.bg_photo {
  display: none;
}

// Width queries
@media (max-width: 1118px) {
  .image_wrapper {
    top: auto;
    right: 3rem;
    bottom: 50%;
    transform: translateY(50%);

    width: 25rem;
    height: 25rem;

    border-radius: 50%;
    overflow: hidden;

    mask-image: none;
    background-image: none;

    box-shadow: 0px 0px 1rem rgba($color: #000000, $alpha: 0.4);
  }

  .bg_photo {
    position: absolute;
    top: -40px;
    right: -80px;
    display: block;
    width: 180%;
    height: auto;
  }
}

@media (max-width: 1010px) {
  .contact_me_window {
    font-size: 0.875rem;
  }

  .h2 {
    margin-top: 2em;
    font-size: 1.5rem;
  }

  .input {
    font-size: 0.875rem;
  }

  .phone_input {
    padding-left: 1.25rem;
  }

  .phone_code {
    font-size: 0.875rem;
  }

  .max_size_counter {
    font-size: 0.75rem;
  }

  button {
    font-size: 0.875rem;
  }

  .image_wrapper {
    width: 20rem;
    height: 20rem;
  }

  .bg_photo {
    top: -30px;
    right: -60px;
  }
}

@media (max-width: 900px) {
  .input_form {
    width: 100%;
  }

  .image_wrapper {
    width: 12rem;
    height: 12rem;

    bottom: 20px;

    transform: translateY(0);
  }

  .bg_photo {
    top: -10px;
    right: -40px;
  }
}

@media (max-width: 720px) {
  .contact_me_window {
    padding: 0 2rem;
  }

  .content_container {
    padding: 2.5em 3.5em;
  }

  button {
    margin: 0.625rem auto 0;
  }

  .header {
    .h2 {
      margin: 0 auto 2em;
    }
  }

  .h2 {
    width: fit-content;
    margin: 2em auto 1em;
  }

  .link_container {
    margin: 0;
  }

  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .call_options {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: 0 auto;
  }

  .image_wrapper,
  .logo {
    display: none;
  }
}

@media (max-width: 435px) {
  .content_container {
    padding: 2.5em 1.5em;
  }

  .header {
    .h2 {
      margin: 0 auto 1em;
    }
  }

  .h2 {
    margin: 1.5em auto;
  }

  button {
    margin: 0 auto;
    padding: 0.75em 2em;
  }
}

// Height queries
@media (max-height: 900px) {
  .contact_me_window {
    font-size: 0.875rem;
  }

  .h2 {
    margin-top: 2em;
    font-size: 1.5rem;
  }

  .input_container {
    font-size: 0.875rem;
  }

  button {
    font-size: 0.875rem;
  }
}

@media (max-height: 700px) {
  .content_container {
    font-size: 0.875rem;
    padding: 2em 2.5em;
  }

  .header {
    .h2 {
      margin-bottom: 1em;
    }
  }

  .h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .input_container {
    margin-bottom: 2em;
  }

  .input {
    font-size: 0.875rem;
  }

  .phone_code {
    font-size: 0.875rem;
  }

  .max_size_counter {
    font-size: 0.75rem;
  }

  .email_warning {
    top: -0.5rem;
    font-size: 0.675rem;
  }

  button {
    margin: 0;
  }

  .image_wrapper {
    bottom: 10px;
    background-position-y: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-height: 530px) {
  .content_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .first_child {
    width: 60%;
    margin-right: 1.5rem;
  }

  .logo {
    display: none;
  }

  .header {
    .h2 {
      margin: 0 0 1em;
    }
  }

  .h2 {
    margin-top: 0;
  }

  .input_form {
    width: 100%;
  }

  .call_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image_wrapper {
    top: auto;
    right: 2rem;
    bottom: 10px;

    width: 10rem;
    height: 10rem;

    border-radius: 50%;

    overflow: hidden;

    mask-image: none;
    background-image: none;

    box-shadow: 0px 0px 1rem rgba($color: #000000, $alpha: 0.4);

    transform: translateY(0);
  }

  .bg_photo {
    position: absolute;
    display: block;
    top: -10px;
    right: -32px;
    width: 180%;
    height: auto;
  }
}

@media (max-height: 420px) {
  .contact_me_window {
    font-size: 0.75rem;
  }

  .header {
    .h2 {
      margin-bottom: 0.75em;
    }
  }

  .h2 {
    margin-bottom: 0.75em;
    font-size: 1.25rem;
  }

  .input_container {
    margin-bottom: 1em;
  }

  .input {
    font-size: 0.75rem;
  }

  .phone_input {
    padding-left: 1rem;
  }

  .phone_code {
    top: 5px;
    font-size: 0.75rem;
  }

  .max_size_counter {
    font-size: 0.5rem;
  }

  .email_warning {
    font-size: 0.5rem;
  }

  button {
    padding: 0.5em 2em;
    margin-top: 1em;
    font-size: 0.75rem;
  }

  .image_wrapper {
    display: none;
  }
}

@media (max-width: 900px) and (max-height: 700px) {
  .image_wrapper {
    top: auto;
    bottom: 10px;
    transform: translateY(0);
  }
}

@media (max-width: 560px) and (max-height: 530px) {
  .call_options {
    align-items: flex-end;
    flex-direction: column;
    margin-top: 3.375rem;
  }

  .first_child {
    width: 100%;
  }

  .header {
    .h2 {
      display: block;
    }
  }

  .h2 {
    display: none;
  }

  .link_container {
    margin-bottom: 1rem;
  }
}

@media (max-width: 375px) and (max-height: 530px) {
  .first_child {
    margin: 0;
  }

  .header {
    .h2 {
      margin: 0 auto 1em;
    }
  }

  .call_options {
    display: none;
  }

  button {
    margin: 0 auto;
  }
}

@media (min-width: 1010px) and (min-height: 700px) {
  .phone_code {
    font-size: 1rem;
  }
}
