@import "../colors.scss";

.contact_me_window {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  padding: 0 4rem;

  font-size: 1rem;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  z-index: 999;
}

.content_container {
  position: relative;

  width: 100%;
  max-width: 64rem;

  padding: 3.75rem 4.125rem;

  border-radius: 0.875rem;
  background-color: $main_bright;

  overflow: hidden;

  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .h2 {
    margin-bottom: 2.25em;
    margin-top: 0;
  }
}

.h2 {
  margin-top: 3.75em;
  margin-bottom: 1em;
  font-size: 2rem;
}

.input_form {
  display: flex;
  flex-direction: column;

  width: 21.25rem;
}

.input {
  margin-bottom: 3em;

  font-size: 1rem;

  border: none;
  background-color: transparent;
}

button {
  width: fit-content;

  margin-top: 0.625rem;
  padding: 0.75rem 2.875rem;

  font-family: "Onest", sans-serif;
  font-size: 1rem;

  border: none;
  color: $main_bright;
  background-color: $accent_red;
}

.icon {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
}

.image_wrapper {
  position: absolute;
  top: 0;
  right: -10rem;

  mask-image: url("../assets/bg_mask.svg");
  mask-repeat: no-repeat;
  mask-position: top right;

  overflow: hidden;

  z-index: -1;
}

.bg_photo {
  width: 80%;
  height: 80%;
  transform: translateX(200px) translateY(-20px);
}
