@import "../colors.scss";

.input_form {
  display: flex;
  flex-direction: column;

  width: 21.25rem;
}

.input_container {
  position: relative;
  margin-bottom: 3em;
}

.input {
  width: 100%;

  padding: 0.5em 0.2em;

  font-size: 1rem;

  border: none;
  border-radius: 0;
  border-bottom: 2px solid $accent_red;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:focus + .max_size_counter {
    opacity: 1;
  }

  &::placeholder {
    color: rgba($color: $main_dark, $alpha: 0.3);
  }
}

.phone_input {
  padding-left: 1.375rem;
}

.max_size_counter {
  position: absolute;
  bottom: -1.75em;
  right: 0;

  font-size: 0.875rem;

  color: rgba($color: $main_dark, $alpha: 0.3);

  opacity: 0;
}

.email_warning {
  position: absolute;
  top: -0.75rem;
  left: 0;

  font-size: 0.75rem;
  color: $warning;
}

.phone_code {
  position: absolute;
  top: 6px;
  left: 0;
}

.personal_data_accept {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.875rem;
  font-size: 0.75rem;
  cursor: pointer;

  input[type="checkbox"]:checked + .custom_checkbox {
    background-color: $accent_red;
    border: 1px solid $accent_red;
    .checkmark {
      display: block;
    }
  }

  a {
    color: $main_dark;
  }
}

.custom_checkbox {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;

  border: 1px solid gray;
  border-radius: 0.25rem;
}

.checkmark {
  color: $main_bright;
  display: none;
}

.button {
  width: fit-content;

  margin-top: 0.625rem;
  padding: 0.75rem 2.875rem;

  font-family: "Onest", sans-serif;
  font-size: 1rem;

  border: none;
  border-radius: 0.125rem;
  color: $main_bright;
  background-color: $accent_red;

  cursor: pointer;
  transition: filter 0.2s ease-out;

  &:hover {
    filter: brightness(110%);
  }

  &:disabled {
    cursor: default;
    &:hover {
      filter: brightness(100%);
    }
    opacity: 0.5;
  }
}

// Media queries
@media (max-width: 1010px) {
  .input {
    font-size: 0.875rem;
  }

  .phone_input {
    padding-left: 1.25rem;
  }

  .phone_code {
    font-size: 0.875rem;
  }

  .max_size_counter {
    font-size: 0.75rem;
  }

  .button {
    font-size: 0.875rem;
  }
}

@media (max-width: 900px) {
  .input_form {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .button {
    margin: 0.625rem auto 0;
  }
}

@media (max-width: 435px) {
  .button {
    margin: 0 auto;
    padding: 0.75em 2em;
  }
}

@media (max-height: 900px) {
  .input_container {
    font-size: 0.875rem;
  }

  .button {
    font-size: 0.875rem;
  }
}

@media (max-height: 700px) {
  .input_container {
    margin-bottom: 2em;
  }

  .input {
    font-size: 0.875rem;
  }

  .phone_code {
    font-size: 0.875rem;
  }

  .max_size_counter {
    font-size: 0.75rem;
  }

  .email_warning {
    top: -0.5rem;
    font-size: 0.675rem;
  }

  .button {
    margin: 0;
  }
}

@media (max-height: 530px) {
  .input_form {
    width: 100%;
  }

  .call_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-height: 420px) {
  .input_container {
    margin-bottom: 1em;
  }

  .input {
    font-size: 0.75rem;
  }

  .phone_input {
    padding-left: 1rem;
  }

  .phone_code {
    top: 5px;
    font-size: 0.75rem;
  }

  .max_size_counter {
    font-size: 0.5rem;
  }

  .email_warning {
    font-size: 0.5rem;
  }

  .button {
    padding: 0.5em 2em;
    margin-top: 1em;
    font-size: 0.75rem;
  }
}

@media (max-width: 375px) and (max-height: 530px) {
  .button {
    margin: 0 auto;
  }
}

@media (min-width: 1010px) and (min-height: 700px) {
  .phone_code {
    font-size: 1rem;
  }
}
