@import "../GeneralStyles.scss";
@import "../colors.scss";

.content {
  @include content;
}

.header {
  @include custom_header;
}

.meeting_progress {
  position: relative;
  margin: 6.25rem 0;
}

.row {
  display: grid;
  grid-template-rows: 9.375rem;
  grid-template-columns: 1fr 6.125rem 1fr;
}

.column_circle {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting_circle {
  position: relative;

  width: 2.125rem;
  height: 2.125rem;

  border: 0.125rem solid $accent_red;
  border-radius: 50%;
  outline: 1rem solid $main_bright;

  background-color: $main_bright;

  z-index: 3;
}

.column_step {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}

.column_step_1,
.column_step_3,
.column_step_5 {
  grid-area: 1 / 3 / 1 / 3;
  justify-content: flex-start;
  text-align: start;
}

.meeting_step {
  font-size: 1.25rem;

  span {
    color: $accent_red;

    &::selection {
      color: $accent_red;
    }
    &::-moz-selection {
      color: $accent_red;
    }
  }
}

.progress_line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 0.25rem;
  height: 100%;

  background-color: $accent_red;
}
