@import "../colors.scss";

.nav_bar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  padding: 1.5rem 3rem;

  background-color: $main_dark;
  color: $main_bright;

  z-index: 99;
}

.logo {
  cursor: pointer;
}

.mobile_menu_icons_container {
  display: none;
}

.links_and_media {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: calc(50% - 17.125rem);

  width: 100%;
}

.nav_links {
  display: flex;
  align-items: center;

  font-family: "Wix Madefor Display", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;

  p {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.25rem;
      width: 0;
      height: 1px;
      background-color: $main_bright;
      opacity: 0;
      transition: 0.15s ease-out;
    }

    &:hover::after {
      opacity: 1;
      width: 100%;
    }
  }

  & p:not(:last-child) {
    margin-right: 2em;
  }
}

.social_media_container {
  display: flex;
  align-items: center;

  & a:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.social_media_unit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  background-color: $main_bright;
  color: $main_dark;
  border-radius: 50%;
}

@media (max-width: 1010px) {
  .nav_bar {
    padding: 0.75rem 2rem;
  }

  .mobile_menu_icons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .mobile_menu_icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .links_and_media {
    position: absolute;
    top: 4.25rem;
    left: 0;

    align-items: flex-start;

    width: 100vw;
    height: 0;

    margin-left: 0;
    padding: 1.5rem 2rem;

    background-color: rgba($color: $main_dark, $alpha: 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    overflow: hidden;
    opacity: 0;

    transition: height 0.4s ease-out, opacity 0.2s ease-out;
  }

  .menu_open {
    height: 12.75rem;
    opacity: 1;
  }

  .nav_links {
    flex-direction: column;
    align-items: start;

    & p:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1.75rem;
    }
  }

  .social_media_container {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1.75rem;

    width: 5.75rem;

    & a:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .nav_bar {
    padding: 0.75rem 1rem;
  }
}

@media (max-width: 440px) {
  .nav_bar {
    padding: 0.75rem 0.75rem;
  }
}
