@import "../colors.scss";
@import "../GeneralStyles.scss";

.content {
  @include content;
}

.header {
  @include custom_header;
}

.photos_container {
  margin-top: 4.5rem;
}

.divider {
  border: none;
  width: 80%;
  height: 0.125rem;
  margin: 3.75rem auto;
  background-color: rgba($color: $main_dark, $alpha: 0.1);
}
