@import "../colors.scss";

.video_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7.5rem;
  margin-bottom: 3.75rem;
}

@media (max-width: 440px) {
  .video_wrapper {
    animation-duration: 3.75rem;
  }
}
