@import "./colors.scss";

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin content {
  position: relative;
  margin: 0 clamp(0px, (100vw - 80rem) / 2, 9999px);
  padding: 5.625rem 2rem 0;

  @media (max-width: 584px) {
    padding: 4rem 1rem 0;
  }

  @media (max-width: 440px) {
    padding-top: 3.375rem;
  }
}

@mixin custom_header {
  width: fit-content;

  .header_aux {
    display: flex;
    align-items: baseline;

    margin-left: 0.25rem;

    font-size: 1.125rem;
    font-weight: 500;

    letter-spacing: 0.07em;
    color: rgba($color: $main_dark, $alpha: 0.6);

    span {
      display: block;
      width: 0.6875rem;
      height: 0.75rem;
      margin-right: 0.75rem;
      background-color: $accent_red;
    }
  }

  .h2 {
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 3.125rem;
    letter-spacing: 0.07em;
  }

  @media (max-width: 584px) {
    .h2 {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 440px) {
    .header_aux {
      font-size: 1rem;
    }

    .h2 {
      font-size: 1.625rem;
    }
  }
}

@mixin disable_selection {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
